html, body {
	height: 100%;
	top: 0;
	margin: 0 auto;
	font-family: "Helvetica", "Arial", sans-serif;
}

#headerNav{
	background: url('https://images.unsplash.com/photo-1496814795703-e5b242546673?w=1050') center top no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	border-color: grey;
}

#nav-container{
	height: 500px;
	width: 100%;
}
.jumbotron{
	position: absolute;
	background: transparent;
	text-align: center;
	height: 100px;
	top: 25%;
	left: 47%;
	color: white;
}

.navbar-header a{
	font-size: 30px;
}

.navbar-nav li{
	font-size: 25px;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #FF7F50;
}

.navbar-default .navbar-brand:hover{
	color: #FF7F50;
}

.navbar-default .navbar-nav>li>a{
	color: white;
}

.navbar-default .navbar-brand{
	color: white;
}

.footer,
.push {
  height: 200px;
}

.footer{ 
	text-align: center;
	background-color: #D3D3D3;
	color: black;
  	line-height: 20px;
  	padding: 0 20px;
}

#footer-container{
	height: 100%;
	padding: 10px;
	font-size: 12pt;
}

#footer-links{
	width: 100%;
}

#facebook{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: url(img/facebook.png);
}

#facebook a{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
}

#youtube{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: url(img/youtube.jpg);
}

#youtube a{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
}

#instagram{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: url(img/instagram.jpg);
}

#instagram a{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
}

#email{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: url(img/gmail.png);
}

#email a{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
}
